@font-face {
  font-family: "IRANSans";
  src: url("../public/fonts/IRANSans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: "IRANSans";
}

body {
  font-size: 10px;
  margin: 5rem 10rem;
  min-width: 320px;
  min-height: 100vh;
  background-color: #dad7cd81;
}
